.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f4f4f4;
}

.login-box {
  width: 400px;  /* Tăng rộng form */
  background: #fff;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.login-title {
  font-size: 28px;
  color: #8e44ad;
  margin-bottom: 10px;
}

.login-box input {
  width: 100%;
  padding: 15px 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 5px;
  transition: border-color 0.3s;
}

.login-box input:focus {
  border-color: #f48fb1;
}

.input-error {
  border: 1px solid #e53935 !important;
}

.error-text {
  color: #e53935;
  font-size: 12px;
  margin-top: 5px;
  min-height: 16px;
  display: block;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #8e44ad;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #732d91;
}

.forgot {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #8e44ad;
  font-size: 13px;
}

.forgot:hover {
  text-decoration: underline;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 15px 0;
  font-size: 14px;
}

.custom-checkbox {
  display: flex;
  position: relative;
  align-items: center;
  gap: 5px;
}
.custom-checkbox label {
  margin-bottom: 0;
  position: absolute;
  top: 4px;
  left: 15px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
